/* ----------------------- General -----------------------*/

html, body {
  height:100%;
  max-width:1280px;
  margin:auto;
  font-family: 'Josefin Sans', sans-serif;
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

header {
  background-color:rgb(114, 114, 114);
  margin:10px;
  text-align:center;
  padding:10px;
  width: 80%;
}

.main-container {
  display:flex;
  justify-content:space-between;
  width: 80%;
}

.left-container, .right-container  {
  background-color:rgb(233, 233, 233);
  width:25%;
  margin:10px;
  text-align:center;
  transition: width 0.2s;
}

.center-container {
  width:30%;
  transition: width 0.2s;
  flex-grow:1;
  
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.left-container div, .right-container div {
  margin:10px 20px;
}

/* -----------------------Left Side -----------------------*/

.next-task-container {
  background-color:rgb(114, 114, 114);
  padding:10px;
}

.brain-dump-container {
  height:60%;
  background-color:rgb(114, 114, 114);
  padding:10px;
  overflow-y:auto;
}

.task {
  background-color:rgb(233, 233, 233);
  border-radius:10px;
  padding:15px 15px;
  cursor:pointer;
}

.add-button {
  background-color:rgb(73, 73, 73);
  padding: 9px 12px;
  border-radius:100%;
  margin-top:-20px;
  cursor:pointer;
  
  font-size:2rem;
  color:white;
}

/* ----------------------- Middle ----------------------- */

.timer-container {
  flex-grow:1;
  background-color: blue;
}

.timer {
  background-color:rgb(114, 114, 114);
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 300px;
  width: 300px;
  position:relative;
  overflow:hidden;
}

/* .semicircle {
  height:100%;
  width:50%;
  position:absolute;
  top:0;
  left:0;
  transform-origin: right center;
}

.semicircle:nth-child(1) {
  background-color:red;
  z-index:2
}

.semicircle:nth-child(2) {
  background-color:blue;
  z-index:3
}

.semicircle:nth-child(3) {
  background-color:rgb(114, 114, 114);
  z-index:4
}

.timer:hover .semicircle:nth-child(1) {
  transform: rotate(180deg);
  transition: 1s linear;
}

.timer:hover .semicircle:nth-child(2) {
  transform: rotate(360deg);
  transition: 2s linear;
}

.timer:hover .semicircle:nth-child(3) {
  opacity:0;
  transition: opacity 0s 1s;
}

.front-circle {
  background-color:white;
  border-radius:50%;
  height:90%;
  aspect-ratio:1/1;
  position:absolute;
  left: 5%;
  top: 5%;

  margin:auto;
  z-index:5;
} */

.time-left {
  font-size:4rem;
  position:absolute;
}

.current-task-container {
  background-color:rgb(73, 73, 73);
  margin:10px;
  padding:10px;
}

/* ----------------------- Right Side ----------------------- */

.basic-controls {
  display:flex;
  justify-content:space-around;
}

.basic-controls i {
  background-color:rgb(114, 114, 114);
  width:20%;
  text-align:center;

  padding:10px;

  font-size:2rem;
  color:white;

  border-radius:20px;
  cursor:pointer;
}

.notes {
  background-color:rgb(114, 114, 114);
  overflow-y:auto;
}

/* ----------------------- For Collapsing -----------------------*/

.collapse-button-left {
  font-size:1.5rem;
  background-color:darkgrey;
  height:fit-content;
  padding:10px;
  cursor:pointer;
}

.collapse-button-right {
  font-size:1.5rem;
  background-color:darkgrey;
  height:fit-content;
  padding:10px;
  cursor:pointer;
}

.collapsed {
  width:0px;
  overflow:hidden;
}