/* ----------------------- General -----------------------*/

html, body {
  height:100%;
  max-width:1280px;
  margin:auto;
  font-family: 'Josefin Sans', sans-serif;
  overflow:hidden;
}

header {
  background-color:rgb(114, 114, 114);
  margin:10px;
  text-align:center;
  padding:10px;
}

.main-container {
  display:flex;
  height:80%;
  justify-content:space-between;
}

.left-container, .right-container  {
  background-color:rgb(233, 233, 233);
  width:25%;
  margin:10px;
  text-align:center;
  transition: width 0.2s;
}

.center-container {
  width:30%;
  margin:10px;
  transition: width 0.2s;
  flex-grow:1;
  
}

.left-container div, .center-container div, .right-container div {
  margin:10px 20px;
}

/* -----------------------Left Side -----------------------*/

.next-task-container {
  background-color:rgb(114, 114, 114);
  padding:10px;
}

.brain-dump-container {
  height:60%;
  background-color:rgb(114, 114, 114);
  padding:10px;
  overflow-y:auto;
}

.task {
  background-color:rgb(233, 233, 233);
  border-radius:10px;
  text-align:center;
  padding:15px 15px;
  cursor:pointer;
}

.add-button {
  background-color:rgb(73, 73, 73);
  padding: 9px 12px;
  border-radius:100%;
  margin-top:-20px;
  cursor:pointer;
  
  font-size:2rem;
  color:white;
}

/* ----------------------- Middle ----------------------- */

.timer {
  aspect-ratio: 1/1;
  border:15px rgb(114, 114, 114) solid;
  border-radius:50%;
  margin: 20px 20px;

  display:flex;
  align-items:center;
  justify-content:center;
}

.time-left {
  font-size:4rem;
  position:absolute;
}

.current-task-container {
  background-color:rgb(73, 73, 73);
  margin:10px;
  padding:10px;
}

/* ----------------------- Right Side ----------------------- */

.basic-controls {
  display:flex;
  justify-content:space-around;
}

.basic-controls i {
  background-color:rgb(114, 114, 114);
  width:20%;
  text-align:center;

  padding:10px;

  font-size:2rem;
  color:white;

  border-radius:20px;
  cursor:pointer;
}

.notes {
  background-color:rgb(114, 114, 114);
  height:75%;
  overflow-y:auto;
}

/* ----------------------- For Collapsing -----------------------*/

.collapse-button-left {
  font-size:1.5rem;
  background-color:darkgrey;
  height:fit-content;
  padding:10px;
  cursor:pointer;
}

.collapse-button-right {
  font-size:1.5rem;
  background-color:darkgrey;
  height:fit-content;
  padding:10px;
  cursor:pointer;
}

.collapsed {
  width:0px;
  overflow:hidden;
}