/* ----------------------- General -----------------------*/

html, body {
  height:100%;
  max-width:1280px;
  margin:auto;
  font-family: 'Josefin Sans', sans-serif;
  overflow:hidden;
}

h1 {
  color:white;
}

h2 {
  text-align:center;
  color:rgb(114, 114, 114);
}

header {
  background-color:rgb(114, 114, 114);
  margin:10px;
  text-align:center;
  padding:10px;
}

.main-container {
  display:flex;
  height:80%;
  justify-content:space-evenly;
}

.task-container,  .notes-container {
  background-color:rgb(233, 233, 233);
  width:30%;
  margin:10px;
}

.time-container {
  width:30%;
  margin:10px;
}

.task-container div, .time-container div, .notes-container div {
  margin:10px 20px;
}

/* -----------------------Left Side -----------------------*/

.next-task-container {
  background-color:rgb(114, 114, 114);
  padding:10px;
}

.brain-dump-container {
  height:60%;
  background-color:rgb(114, 114, 114);
  padding:10px;
  overflow-y:auto;
}

.task {
  background-color:rgb(233, 233, 233);
  border-radius:10px;
  text-align:center;
  padding:15px 15px;
}

.sub-task {
  background-color:rgb(233, 233, 233);
  border-radius:10px;
  text-align:center;
  padding:10px 15px;
}

/* ----------------------- Middle ----------------------- */

.timer {
  aspect-ratio: 1/1;
  border:15px rgb(114, 114, 114) solid;
  border-radius:50%;
  margin: 20px 20px;

  display:flex;
  align-items:center;
  justify-content:center;
}

.time-left {
  font-size:4rem;
}

.current-task-container {
  background-color:rgb(187, 187, 187);
  height:18%;
  margin:10px;
}

.task-controls {
  background-color:rgb(187, 187, 187);
  height:10%;
  margin:10px;
}

/* ----------------------- Right Side ----------------------- */

.notes {
  background-color:rgb(114, 114, 114);
  height:60%;

  overflow-y:auto;
}