header {
  background-color:blue;
  margin:10px;
  text-align:center;
  padding:15px;
}

.main-container {
  display:flex;
  height:800px;
  justify-content:space-evenly;
}

.task-container, .time-container, .notes-container {
  background-color:green;
  width:30%;
  margin:10px;
}

.timer {
  aspect-ratio: 1/1;
  border:30px red solid;
  border-radius:50%;
  margin: 20px 40px;
}

.current-task-container {
  background-color:red;
  height:18%;
  margin:10px;
}

.task-controls {
  background-color:red;
  height:10%;
  margin:10px;
}